*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
}

header img{
    width: 100px;

}

.gallery{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.gallery .gallerygrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 180px);
}

.gallery .gallerygrid img {
    width: 190px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;

}

.gallery .gallerygrid :nth-child(1){
    margin-right: 43px;
}

.title{
    margin-top: 21px;
    max-width: 744px;
    padding: 12px;
}


.title .h4{
    margin-top: 12px;
    font-size: 50px;
}

.title p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    line-height: 27px;
    text-align: justify;
}


.cardcontainer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}

.card {
    width: 444px;

}

.cardcontainer .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}